.App {
  text-align: center;
}

body{
	background: black;
}

svg{
	background-color: black;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

g.ship{
	stroke: blue;
	stroke-width: 1;
}

.unhit {
	stroke-width: .7;
}

.hit {
	stroke-width: 3;
}

.broken {
	display: none;

}

g.ring{
	transition: stroke .8s;
}

g.ring.small{
	stroke: yellow;
}

g.ring.medium{
	stroke: orange;
}

g.ring.large{
	stroke: red;
}

g.ring.huge{
	stroke: blue;
}

.enemy{
	stroke: yellow;
	stroke-width: 1px;
	fill: "none";
}

.zapper {
	stroke: yellow;
	stroke-width: 2px;
	animation: zapper-shrink .4s linear infinite;
}

@keyframes zapper-shrink {
	0% { transform: translateX( 0 )}
	100% { transform: translateX( 32px )  scale(.20)}
}

@keyframes explosion-expand-and-shrink {
	0% { transform: rotate( 2deg ) scale(.02 ) }
	50% { transform: rotate( 360deg ) scale(1.2 )}
	99% { transform: rotate( 720deg ) scale(.02 )}
	100% { transform: rotate( 720deg ) scale(.0002 )}
}

.explosion{
	stroke-width: 1px;
	fill: "none";
	animation: explosion-expand-and-shrink .4s ease-in-out forwards;
}

.yellow {
	stroke: yellow;
}

.blue {
	stroke: blue;
}


@font-face {
	font-family: "VectorBattle";
	src: local('Vector Battle'), url('./Vectorb.ttf') format('truetype');
}

.vector-text{
	font-family: 'VectorBattle', sans-serif;
	letter-spacing: 2.5px;
}

p {
	margin-bottom: 60px;
}

div.title{
	color: blue;
	line-height: 12px;
	text-shadow: -.5px -.5px 1px #ffffff, .5px .5px 1px #ff0000, 0 0 5px darkblue;
	padding: 18px;
	position:absolute;
	left: 50%;
	top: calc(50% - 20px);
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	font-size: 28px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.7);
}

div.score{
	color: blue;
	line-height: 38px;
	position:absolute;
	left: 0%;
	top: 0%;
	margin-left: 9px;

	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.lives{
	font-family: 'VectorBattle', sans-serif;
	color: blue;
	line-height: 38px;
	position:absolute;
	left: 100%;
	top: 0%;
	padding-right: 10px;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);

	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden{
	display:none;
}

.bullet{
	stroke: white;
	stroke-width: 2;
}

